templates:
- |
  apiVersion: v1
  kind: Secret
  metadata:
    name: cloud-credentials
    labels:
      app.kubernetes.io/name: velero
  stringData:
    cloud: |
      [default]
      aws_access_key_id =  {{ .Values.velero_s3_key_id }}
      aws_secret_access_key = {{ .Values.velero_s3_access_key }}
      repository-password = {{ .Values.velero_password }}
