replicaCount: 1
serviceMonitor:
  create: true
  labels:
    release: monitoring

persistentVolume:
  enabled: true
  size: 4Gi
  storageclass: longhorn-r2

service:
  ws:
    enabled: true
  mqtt:
    enabled: true

additionalEnv:
- name: DOCKER_VERNEMQ_ACCEPT_EULA
  value: "yes"
- name: DOCKER_VERNEMQ_ALLOW_ANONYMOUS
  value: "on"
- name: DOCKER_VERNEMQ_USER_{{ .Values.vernemq_user }}
  value: "{{ .Values.vernemq_password }}"

podAntiAffinity: hard
